<html ng-app="WaterCurtain">
    <head>
        <!--CSS Imports-->
        <link href="main.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel='stylesheet' type='text/css'>

        <!--JS Imports-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
        <script src="main.js"></script>
    </head>
    <body>
        <div class="row-fluid">
            <!-- Main Page Body -->
            <div class="flex-parent flex-hcenter flex-vcenter full-height col-md-9">
                <div id="content">
                    <div id="pattern-control">
                        <!-- pattern-squares display here -->
                    </div>
                    <div class="flex-parent flex-hcenter">
                        <button class="important-btn" onclick="sendPattern()"> to the curtain </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar for Pattern Save/Load -->
            <div class="col-md-3">
                <div id="saved-pattern-title" class="font-ssp">Saved Patterns</div>
                <div id="toolbar">

                </div>

                <div id="saved-patterns" ng-controller="PatternSaveCtrl">

                    <!-- Pattern Loading Template -->
                    <div class="saved-pattern font-ssp" ng-repeat="pattern in patterns" ng-click="loadPattern(pattern.pattern)">{{pattern.name}}</div>
                </div>
            </div>
        </div>
        <script>reload(true);</script>
    </body>
</html>

