/* -- FONTS -- */

.font-ssp { font-family: 'Source Sans Pro', sans-serif; }


/* -- PAGE/GENERAL STYLES -- */
html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    border: none;
    outline: none;
}

.full-height { height: 100%; }

.flex-parent { display: flex; }
.flex-hcenter { justify-content: center; }
.flex-vcenter { align-items: center; }


/* -- ELEMENT STYLING -- */
#content {}
#pattern-control { border: 1px solid #222; }

.pattern-row {}
.pattern-box {
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid #222;
    box-sizing: border-box;
}
.pattern-box:hover { border-color: white; }

[data-set=false] { background-color: transparent; }
[data-set=true] { background-color: #222; }

.important-btn {
    background-color: #222;
    color: white;
    font-weight: 700;
    letter-spacing: .1rem;
    padding: .75rem;
    box-shadow: 4px 7px 10px -5px #444;;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.important-btn:hover {
    box-shadow: none;
}
